<%= form_for @product do |p| %>
  <% if @product.errors.any?  %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error")%> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= p.label :name %>
    <%= p.text_field :name %>
  </div>

  <div class="field">
    <%= p.label :description %>
    <%= p.text_field :description %>
  </div>

  <div class="field">
    <%= p.label :price_in_cents %>
    <span>&cent;</span><%= p.number_field :price_in_cents %>
  </div>

  <p>
    <% Category.all.each do |category| %>
      <div>
        <p>

          <%= radio_button_tag "product[category_id]", category.id, @product.category_id== category.id %><%= category
                                                                                                         .name %>
        </p>

      </div>
    <% end %>
  </p>


  <div>
      <%= p.submit %>
  </div>

<% end %>