<h1>Products (<%= @products.count %>)</h1>



<p>
<%= link_to "New Product", new_product_path %>
</p>

<ul>
  <% @products.each do |p|%>

      <li><%= link_to p.name, product_path(p.id)%> -- <%= p.description %> -- &#36;<%= p.formatted_price %></li>

  <% end %>
</ul>