<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1 class="header-title">RainForest</h1>
      <div class="header-nav-container">

          <p>
            <%= link_to "Home", products_path %>
            <%= link_to "Products", products_path %>
          </p>

          <% if current_user %>
            <p>
              <%= link_to "Profile", user_path(current_user) %>
              <%= link_to "Log out", session_path("current"), :method => :delete %>
            </p>
          <% else %>
            <p>
              <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
            </p>
          <% end %>


      </div>
    </header>




    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>



  <%= yield %>

    <p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.name%>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>

      <% end %>
    </p>
  </body>
</html>
